/* ↓↓ Page ↓↓ */

body {
    background-color: #04153E;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    margin-top: 100px;
}

/*   ↓↓ Information contact ↓↓ */

.info{
    color: white;
    text-align: center;
    border-bottom: 1px solid;
}

.info h3{
    display: inline-block;
    text-decoration: underline;
    text-underline-position: under;
    margin-bottom: 20px;
}

.info p{
    display: inline-block;
    margin-bottom: 20px;
}

/* Formulaire de contact */

.contact{
    color: white;
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
}

.contact input{
    color: white;
    outline: none;
    background: none;
    width: auto;
    border: none;
    border-bottom: 3px solid #F1A431;
}

.contact ::placeholder{
    color: white;
    opacity: 1;
}

.contact :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
    opacity: 1;
}
   
.contact ::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
    opacity: 1;
}

.radio{
    display: flex;
    align-items: baseline;
}

.radio label{
    padding-left: 5px;
    padding-right: 10px;
    cursor: pointer;
}

.radio input{
    cursor: pointer;
}

.nom_prenom{
    display: flex;
    justify-content: space-between;
}

.nom_prenom input{
    width: 45%;
}

.email_tel{
    display: flex;
    justify-content: space-between;
}

.email_tel input{
    width: 45%;
}

.message textarea{
    color: white;
    outline: none;
    background: none;
    width: 100%;
    height: auto;
    border: none;
    border-bottom: 3px solid #F1A431;
}

.condition {
    display: flex;
    align-items: baseline;
    margin-top: 30px;
}

.condition label{
    padding-left: 10px;
}

.contact p{
    margin-top: 20px;
    text-align: end;
    opacity: 0.5;
}

.submit{
    margin-bottom: 30px;
    text-align: center;
}

.submit input{
    border-bottom: none;
    background-color: #ffc107;
    width: 200px;
    height: 50px;
}

/*   ↓↓ NAV_FOOTER ↓↓ */

.nav_footer li {
    text-align: center;
    list-style: none;
    padding: 3px;
}

.nav_footer {
    box-sizing: border-box;
    padding: 0% 12%;
}

.nav_footer h2 {
    margin-top: 5px;
}

.nav_footer ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

.copyright {
    margin-bottom: 10px;
}

/* css navbar */

nav {
    position: absolute;
    position: fixed;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    background-color: #040753;
}

.h2 {
    margin-top: 10px;
}

a {
    text-decoration: none;
    margin-top: 10px;
}

.listnav li a::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: rgb(190, 143, 14);
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
}

.listnav li a:hover::after {
    transform: scale(1);
}

nav .h2 {
    box-shadow: 1px 1px 1px black;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    font-size: 1.5em;
    text-shadow: 1px 1px 1px black;
}

.listnav {
    padding-left: 35%;
}

/* ↓↓ FOOTER ↓↓ */

.footer {
    background-color: #040753;
    font-family: 'Playfair Display', serif;
}

footer h2 {
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
}

footer a {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    font-size: 1.2em;
}

footer p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 0px;
}

/*   ↓↓ COORDONNEES_FOOTER ↓↓ */

.coordonnees_footer a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    display: block;
    text-align: center;
    padding: 8px;
}

/*   ↓↓ LOGO_FOOTER ↓↓ */

.logo_footer img {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto
}