/*   ↓↓ GENERAL ↓↓ */

html {
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #04153E;
    font-family: 'Playfaire Display';
}

.footer {
    background-color: #040753;
    font-family: 'Playfair Display', serif;
}

.footer h2 {
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
}

.footer a {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    font-size: 1.2em;
}

.footer p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 0px;
}

/*   ↓↓ COORDONNEES_FOOTER ↓↓ */

.coordonnees_footer a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    display: block;
    text-align: center;
    padding: 8px;
}

/*   ↓↓ LOGO_FOOTER ↓↓ */

.logo_footer img {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto
}

/*   ↓↓ NAV_FOOTER ↓↓ */

.nav_footer li {
    text-align: center;
    list-style: none;
    padding: 3px;
}

.nav_footer {
    box-sizing: border-box;
    padding: 0% 12%;
}

.nav_footer h2 {
    margin-top: 5px;
}

.nav_footer ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

.copyright {
    margin-bottom: 10px;
}

/* css navbar */

nav {
    position: absolute;
    position: fixed;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    background-color: #040753;
}

.h2 {
    margin-top: 10px;
}

a {
    text-decoration: none;
    margin-top: 10px;
}

.listnav li a::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: goldenrod;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
}

.listnav li a:hover::after {
    transform: scale(1);
}

nav .h2 {
    box-shadow: 1px 1px 1px black;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    font-size: 1.5em;
    text-shadow: 1px 1px 1px black;
}

.listnav {
    padding-left: 35%;
}

/* css navbar */

/*   ↓↓ FORUM ↓↓ */

.forum {
    padding: 30px 30px;
    margin-bottom: 150px;
    box-sizing: border-box;
    padding: 0% 10%;
}

.forum a {
    color: white;
    text-decoration: none;
}

.forum h2 {
    font-size: 3em;
}

.forum h2::after {
    content: "";
    display: block;
    width: 0%;
    height: 3px;
    background: goldenrod;
    transition: width 0.7s ease-in-out;
}

.forum h2:hover::after {
    width: 100%;
}

.forum p {
    color: rgba(255, 254, 254, 0.4);
    font-size: 1.4em;
}

.titre_forum {
    margin: 10% 0% 5% 2%;
}

.titre_forum h1 {
    font-size: 6.7em;
    color: white;
}

hr {
    background-color: white;
    width: 20%;
}

/* ****************Nav Responsiv******************* */

.navbar {
    background-color: #040753 !important;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
    border-bottom: 1px solid rgb(24, 31, 90);
    padding: 0;
}

.navbar .container {
    padding: 0px;
}

nav .h2 {
    box-shadow: 1px 1px 1px black;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    font-size: 1.5em;
    text-shadow: 1px 1px 1px black;
}

.navbar-toggler {
    outline: none;
    border: none;
    cursor: pointer;
    visibility: hidden;
}

.navbar-nav {
    width: 100vh;
    display: flex;
    justify-content: space-around;
}

/* ******************HAMBURGER COLLAPSE*********************** */

.menu-icon {
    position: relative;
    width: 54px;
    height: 54px;
    background-color: transparent;
    border-radius: 50%;
    transition: transform 0.5s;
    visibility: visible!important;
}

.menu-icon .icon_span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 22px;
    height: 2px;
    background-color: #fff;
    transition: background 0.5s, transform 0.5s;
    transition: background 0.5s steps(1, end);
}

.icon_span::before, .icon_span::after {
    transform-origin: 100% 50%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 22px;
    height: 2px;
    transform: translateY(-8px);
    background-color: #fff;
    transition: transform 0.5s;
}

.icon_span::after {
    transform: translateY(8px);
}

.menu-icon:hover .icon_span::before {
    transform: translateY(-10px);
}

.menu-icon:hover .icon_span::after {
    transform: translateY(10px);
}

svg {
    opacity: 0;
    fill: transparent;
    stroke: #fff;
    stroke-width: 2px;
    stroke-dasharray: 22 230;
    transition: stroke-dasharray 0.5s, stroke-dashoffset 0.5s, opacity 0.5s steps(1, end);
}

.menu-icon.is-opened .icon_span {
    transition: background 0.5s steps(1, start);
    background-color: transparent;
}

.menu-icon.is-opened svg {
    opacity: 1;
    stroke-dasharray: 160;
    stroke-dashoffset: -65;
    transition: stroke-dasharray 0.5s, stroke-dashoffset 0.5s, opacity 0.5s steps(1, start);
}

.menu-icon.is-opened .icon_span::before {
    transform: translateX(-3px) translateY(-8px) rotate(-45deg);
}

.menu-icon.is-opened .icon_span::after {
    transform: translateX(-3px) translateY(8px) rotate(45deg);
}

/***************** ANIMATION LIENS NAV **********************/

.navbar-nav li a::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: goldenrod;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
}

.navbar-nav li a:hover::after {
    transform: scale(1);
}

/* css annonces */

.annonces {
    margin-top: 5%;
}

.lignes {
    margin-top: 2%;
    padding-left: 5%;
    padding-right: 10%;
}

.lignesN {
    display: flex;
    justify-content: space-around;
}

.card-body {
    text-align: center;
}

/* css annonces */

/* css card infons annonce */

.card {
    background-color: #040753;
    color: white;
    padding-top: 2%;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

.cardinfos {
    padding: 2%;
    text-align: center;
}

.cardinfos button {
    margin-top: 4%;
}

.imgAnnonce {
    width: 398px;
    height: 218px;
}

.carousel img {
    height: 450px;
}

/* css card infons annonce */

/* css corps annonce */

.corps {
    display: flex;
    justify-content: space-around;
}

.reste {
    padding: 4%;
    color: white;
    padding-top: 2%;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

.content {
    display: flex;
    justify-content: space-around;
}

.ann {
    margin-top: 2%;
}

/* css corps annonce */

/* modal annonce */

.ajoutAnnonce {
    font-family: 'Playfair Display', serif;
    background-color: #040753;
    font-weight: bold;
}

/* pagination */

.badge {
    width: 50px;
    color: white;
    font-size: 20px;
}

/* ------------------------------------------ MEDIA QUERY 1150px ---------------------------------- */

@media screen and (max-width: 1150px) {
    .navbar-nav {
        display: flex;
        justify-content: center;
    }
}

/* ------------------------------------------ MEDIA QUERY 1000px ---------------------------------- */

@media screen and (max-width: 1000px) {
    .navbar-nav {
        width: 50vh;
        display: flex;
        justify-content: center;
    }
}