/*   ↓↓ GENERAL ↓↓ */

html{ 
    overflow-x :hidden ;
    scroll-behavior: smooth;
    }
    
    body{
    background-color: #04153E;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    }
    
    *, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    .footer{
    background-color: #040753;
    font-family: 'Playfair Display', serif;
    
    }
    
    .footer h2{
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    }
    
    .footer a{
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    font-size: 1.2em;
    }
    
    .footer p{
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 0px;
    }
    
                                        /*   ↓↓ COORDONNEES ↓↓ */
    
    .coordonnees_footer a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    display:block;
    text-align:center;
    padding: 8px;
    }
    
                                        /*   ↓↓ LOGO ↓↓ */
    
    .logo_footer img{
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto
    }
    
    
                                        /*   ↓↓ NAV ↓↓ */
    
    .nav_footer li{
    text-align: center;
    list-style: none;
    padding: 3px;
    } 
    
    .nav_footer h2{
    margin-top: 5px;
    }
    
    .nav_footer ul li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    
    }
    
    .copyright{
    margin-bottom: 10px;
    }
    
    /* css navbar */
    nav{
    position: absolute;
    position: fixed;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    background-color: #040753;
    
    }
    
    .h2{
    margin-top: 10px;
    }
    
    a{
    text-decoration: none;
    margin-top: 10px;
    
    }

    /* ****************Nav Responsiv******************* */
.navbar
{
	background-color: #040753 !important;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
	letter-spacing: 4px;
	text-transform: uppercase;
  border-bottom: 1px solid rgb(24, 31, 90);
}

.navbar .container
{
  padding: 0px;
}

nav .h2{
  box-shadow: 1px 1px 1px black;
  }
  nav ul{
  display: flex;
  list-style: none;
  justify-content: space-around;
  font-size: 1.5em;
  text-shadow: 1px 1px 1px black;
  margin-left: 100px;
  }

  .navbar-toggler{
    outline: none;
    border: none;
    cursor: pointer;
    visibility: hidden;
  }

  .navbar-nav{
    width: 100vh;
    display: flex;
    justify-content: space-around;
  }

  .navbar-toggler {
    border: none;
    outline: none;
    height: 50px;
    margin-bottom: 20px; 
  }

/* ******************HAMBURGER COLLAPSE*********************** */

.menu-icon{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 54px;
    height: 54px;
    background-color: transparent;
    border-radius: 50%;
    transition: transform 0.5s;
    visibility: visible!important;
}

.menu-icon .icon_span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); 
    width: 22px;
    height: 2px;
    background-color: #fff;
    transition: background 0.5s, transform 0.5s;
    transition: background 0.5s steps(1, end);
}

.icon_span::before, .icon_span::after{
    transform-origin: 100% 50%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 22px;
    height: 2px;
    transform: translateY(-8px);
    background-color: #fff;
    transition: transform 0.5s;
}

.icon_span::after{
    transform: translateY(8px);
}

.menu-icon:hover .icon_span::before{
    transform: translateY(-10px);
}

.menu-icon:hover .icon_span::after{
    transform: translateY(10px);
}

svg{
    opacity: 0;
    fill: transparent;
    stroke: #fff;
    stroke-width: 2px;
    stroke-dasharray: 22 230;
    transition: stroke-dasharray 0.5s, stroke-dashoffset 0.5s, opacity 0.5s steps(1, end);
}

.menu-icon.is-opened .icon_span{
    transition: background 0.5s steps(1, start);
    background-color: transparent;
}

.menu-icon.is-opened svg{
    opacity: 1;
    stroke-dasharray: 160;
    stroke-dashoffset: -65;
    transition: stroke-dasharray 0.5s, stroke-dashoffset 0.5s, opacity 0.5s steps(1, start);
}

.menu-icon.is-opened .icon_span::before{
    transform: translateX(-3px) translateY(-8px) rotate(-45deg);
}

.menu-icon.is-opened .icon_span::after{
    transform: translateX(-3px) translateY(8px) rotate(45deg);
}

/***************** ANIMATION LIENS NAV **********************/
    
    
    .navbar-nav li a::after{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background:goldenrod;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
    }
    
    .navbar-nav li a:hover::after{
    transform: scale(1);
    } 
    
/************************* EN TETE  ******************/

.infoVol{
    margin-top: 200px;
}

.h1Section{
    font-size: 5em;
    color: rgb(238, 215, 215);
    text-align: center;
}

.sousTexte{
    font-size: 1.5em;
    color: rgba(255, 255, 255, 0.35);
}


/************************* 1ERE SECTION  ******************/

.para1{
    color: white;
    line-height: 50px;
    padding: 150px 150px 0px 150px;
    font-size: 1.2em;
    text-align: center;
}

/************************* SECTION PREPARE  ******************/

.iconPrepare{
    width: 150px;
    height: 150px;
}

.titreEtapes{
    color: rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.separator:after {
    content: '';
    display: block;
    margin: 0 auto;
    background-color: goldenrod;
    width: 85px;
    height: 10px;
}

/************************* ETAPES ******************/

.Preparer{
    margin-top: 100px;
}

.preparation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 40px;
}

.col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.col img{
    /* display: inline-block; */
    width: 80px;
    height: 80px;
}

.col h4{
    font-size: 1.6em;
    color: white;
    letter-spacing: 2.5px;
    padding-left: 25px;
    font-weight: bolder;
    margin-bottom: 25px;
}

.col p{
    color: white;
    padding-left: 25px;
    line-height: 20px;
    font-size: 0.8em;
    letter-spacing: 2px;
    text-align: center;
}

/************************* Complémentaire  ******************/

.complementaire{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.complementaire h2{
    color: white;
    text-align: center;
}

.complementaire p {
    color: white;
    line-height: 40px;
    text-align: center;
}

.complementaire a {

    color: gold;
}
/************************* Formulaire de vol  ******************/


.form-control {
    margin-top: 30px;
    position: relative;
    height: 50px;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    border-radius: 0;
    background-color: #04153E;
    color: white;
}
.form-control:focus {
    box-shadow: none;
    border-bottom:  2px solid #222;
    background-color: #04153E;
    color: white;
}
label {

    font-size: 18px;
    padding-left: 15px;
    line-height: 20px;
    transition: .5s ease;
    color: wheat;
}

.formulaire{
    margin: 40px 0px;
}

.btnValide{
    display: flex;
    justify-content: center;
    align-items: center;
}

.valide{
    background: none;
    margin-bottom: 100px;
    color: white;
    width: 240px;
    height: 80px;
    border: 1px solid #338;
    font-size: 25px;
    border-radius: 4px;
    transition: .6s;
}

.valide:hover{
    background: goldenrod;

}
#depart{
    margin-bottom: 35px;
}

.billetValidation{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
}
/* ------------------------------------------ MEDIA QUERY 1430px ---------------------------------- */
@media screen and (max-width : 1430px){
    .navbar ul {
        margin-left: 200px;
    }
}
/* ------------------------------------------ MEDIA QUERY 1150px ---------------------------------- */
@media screen and (max-width : 1150px){
    
    .navbar-nav{

      display: flex;
      justify-content: center;
    }
}

/* ------------------------------------------ MEDIA QUERY 1000px ---------------------------------- */
@media screen and (max-width : 1000px){

    .navbar-nav{
        width: 50vh;
        display: flex;
        justify-content: center;

    }

    .navbar-collapse ul{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .para1{
        line-height: 50px;
        padding: 150px 0px 0px 0px;
        font-size: 1.2em;
    }

    .preparation{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 40px;
    }

    .col{
        margin-bottom: 100px;
    }
}

/* ------------------------------------------ MEDIA QUERY 530px ---------------------------------- */

@media screen and (max-width : 390px){

    .navbar-collapse ul{
        align-items: flex-start;
        margin: 10px 0px 0px 10px;
    }
}