/* ↓↓ Page ↓↓ */

body {
    background-color: #04153E;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

/* ↓↓ Formulaire inscription ↓↓ */

.inscription {
    background-color: #040753;
    color: white;
    text-align: center;
    margin-top: 10%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 5%;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    box-shadow: 0px 0px 100px white;
}

.inscription h4{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
    border: 2px solid #ffc107;
    
}

input {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 50px;
    width: 70%;
    height: 40px;
    border: 0;
    outline: none;
}

#date{
    padding-left: 50px;
}

label {
    font-size: large;
}

.civilité {
    font-size: 20px;
}

#monsieur {
    width: 20px;
    height: 15px;
}

#madame {
    width: 20px;
    height: 15px;
    margin-left: 20px;
}


button {
    border: none;
    outline: none;
    background: #ffc107;
    border-radius: 50px;
    width: 50%;
    height: 50px;
    font-size: x-large;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

button:active {
    outline: none;
    border: none;
}

/*   ↓↓ NAV_FOOTER ↓↓ */

.nav_footer li {
    text-align: center;
    list-style: none;
    padding: 3px;
}

.nav_footer {
    box-sizing: border-box;
    padding: 0% 12%;
}

.nav_footer h2 {
    margin-top: 5px;
}

.nav_footer ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

.copyright {
    margin-bottom: 10px;
}

/* css navbar */

nav {
    position: absolute;
    position: fixed;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    background-color: #040753;
}

.h2 {
    margin-top: 10px;
}

a {
    text-decoration: none;
    margin-top: 10px;
}

.listnav li a::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: rgb(190, 143, 14);
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
}

.listnav li a:hover::after {
    transform: scale(1);
}

nav .h2 {
    box-shadow: 1px 1px 1px black;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    font-size: 1.5em;
    text-shadow: 1px 1px 1px black;
}

.listnav {
    padding-left: 35%;
}

/* ↓↓ FOOTER ↓↓ */

.footer {
    background-color: #040753;
    font-family: 'Playfair Display', serif;
}

footer h2 {
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
}

footer a {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    font-size: 1.2em;
}

footer p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 0px;
}

/*   ↓↓ COORDONNEES_FOOTER ↓↓ */

.coordonnees_footer a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    display: block;
    text-align: center;
    padding: 8px;
}

/*   ↓↓ LOGO_FOOTER ↓↓ */

.logo_footer img {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto
}